
/* general */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: #f6f8f9;
}


header{
     background-color: white;
     margin: 0 auto 40px;
}

main{ 
     margin: auto;
     width: 70%;
     background-color: white;
     padding: 1%;
     border:1px solid #c9ced3;
}

span{
     padding: 0.2%;
     margin: 10px;
}
/* //general */

/* setting sewction in h1 */
#Titolo{
     font-size: 300%;
     display: inline-block;
     vertical-align: top;
     padding: 1%;
     font-style: oblique;
}

.logo{
     width: 4%;
     margin-top: 0.3%;
}
/* //setting sewction in h1 */

/* section setting bottoni */
.button{
     margin: 2% auto 0.1%;
     width: 70%;
     background-color: white;
     border:1px solid #c9ced3;
     border-radius: 5px;
}

.add-task{
     color: #c9ced3;
     width: 8%;
     height: 30px;
     margin: 1%;
     background-color: white;
     border:1px solid #c9ced3 ;
     border-radius: 5px;
}

.add-sec{
     color: #c9ced3;
     width: 10%;
     height: 30px;
     margin: 1%;
     background-color: white;
     border:1px solid #c9ced3 ;
     border-radius: 5px;
}

.add-sec:hover, .add-task:hover{
     background-color: #45abea;
}

/* //section setting bottoni */

/* setting titoli in UL */
h3{
     margin-left: 20px;
}
/* //setting titoli in UL */

/* setting unordered list */
li{
     list-style-type: none;
     display: none;
}

.Upcoming:hover li, .Today:hover li, .New-Task:hover li{
     display: block;
     transform: translate(50px );
}

li{
     margin: 2%;
}
/* //setting unordered list */

/* check e cross */
.check{
     color: #5abda5;
     border:1px solid #5abda5;
     border-radius: 50%;
}

.cross{
     color: #eb5b55;
     border:1px solid #eb5b55;
     border-radius: 50%;
}
/* //check e cross */

/* colore badge */
.editorial{
     background-color: #45abea;
}

.Q1_goals{
     background-color: #9c72e4;
}

.recruting{
     background-color: #64c0a9;
}

 .mobile{
      background-color: #f19d32;
 }

 .website{
     background-color: #d863a1;
 }

 .sales{
     background-color: #b0c926;
 }
 /* //colore badge */

 /* bordo badge */
 .badge{
     border-radius: 14%;
     color: white;
     font-size: 10px;
     padding: 0.5%;
 }
 /* //bordo badge */


/* setting footer */
#foot{
     margin-top: 10%;
     text-align: center ;
     color: #6ed663 ;
     font-family: 'Lobster', cursive;
}
/* //setting footer */